@*model iterator used to make example table of students*@
@using Fitness.Models
@model FitnessViewModel

<h2>Here you will find valuable information about runners!</h2>

<h3>Currently in our database we have the following users signed up for our program:</h3>


    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Lastname)
            </th>
        </tr>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
            </tr>
        }
    </table>
    <div class="userData">
        <h2>Below you will see your uploaded fit file!</h2>
        @foreach (var item in Model.RunInfo)
    {
        <ul>
            <li>Distance Ran: @item.DistanceRan m</li>
            <li>Speed of run: @item.RunSpeed m/s</li>
            <li>Candence: @item.Cadence</li>
            <li>Heart rate: @item.HeartRate</li>
        </ul>
}
    </div>


