@*model iterator used to make example table of students*@
@model IEnumerable<Fitness.Models.Student>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Runners World!</h1>
    
    <p class="lead">Runners world is your site to get up to date information on your cross country runs as well as training programs!</p>
    <p>Below you will find information about some of our runners from our database!</p>
</div>



<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
        </tr>
    }
</table>

