<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->

    <style>


        body {
            font-family: 'Ubuntu', sans-serif;
            padding-top: 50px;
            padding-bottom: 20px;
            background-color: #3AAFA9;
            color: #17252A
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Ubuntu', sans-serif;
            color: black;
        }

        p {
            font-family: 'Ubuntu', sans-serif;
            font-size: 16px;
            color: black;
        }


        a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        /* Add a gray background color and some padding to the footer */

    </style>
</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align:center">Oodle</h1>
            <p style="text-align:center">
                A Place to Share, Create, Learn, and Educate
            </p>
        </div>
    </div>



    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <a href='@Url.Action("Calendar", "Home")'>
                    <img src="/Content/img/cal.png" class="img-responsive" style="width:400px; height:250px;" alt="Image">
                </a>
                <a href='@Url.Action("Calendar", "Home")'> <h3>View your calendar</h3></a>
            </div>
            <div class="col-sm-4">
                <a href='@Url.Action("List", "Class")'>
                    <img src="/Content/img/class.jpg" class="img-responsive" style="width:400px; height:250px;" alt="Image">
                </a>
                <a href='@Url.Action("List", "Class")'> <h3>Find a class</h3></a>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <a href='@Url.Action("About", "Home")'> <h3>Learn about Oodle</h3></a>
                </div>
                <div class="well">
                    <a href='@Url.Action("Tools", "Home")'> <h3>View Oodle Tools</h3></a>
                </div>
                <div class="well">
                    <a href='https://oodle-dev.slack.com/messages'> <h3>Set up Slack</h3></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/scriptone.js"></script>
}
