@model IEnumerable<Oodle.Models.User>

<center><h2>@User.Identity.Name view and edit your information below:</h2></center>


<link rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/Scripts/stylestools.css" />


<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <!--
            <th scope="col">
                @Html.DisplayNameFor(model => model.Icon)
            </th>
                -->
            <th scope="col">
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
                -->
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UsersID }) |
                @Html.ActionLink("Details", "Details", new { id = item.UsersID })
            </td>
        </tr>
    }

</table>
