
@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "Assignment";
}
<center><h2>Assignments</h2></center>

<h2>List</h2>

<a class="classItem" href="@Url.Action("CreateAssignment", "Teachers", new { classID = Model.cl.ClassID } )">
    Create an assignment
</a>
<br />


<div>
    @for (int i = 0; i < Model.assignment.Count(); i++)
    {

        var assi = Model.assignment[i];
        <div class="block">
            <div class="classItem">
                <div class="title">
                    @Html.DisplayFor(Name => assi.Name)
                </div>
                <div class="description">
                    @Html.DisplayFor(Desc => assi.Description)
                </div>
                <div class="dateLeft">
                    Start Date: @Html.DisplayFor(Desc => assi.StartDate)
                </div>
                <div class="dateRight">
                    Due Date: @Html.DisplayFor(Desc => assi.DueDate)
                </div>
                <a href="@Url.Action("EditAssignment", "Teachers", new { classID = Model.cl.ClassID, assignmentID = assi.AssignmentID })" class="edit">
                    Edit
                </a>
            </div>
        </div>
        <br />
        <br />

    }
</div>

