@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "EditAssignment";
}





<div class="form-style-6">
    <form method="post" action="EditAssignmentAction"  onsubmit="return compareTime()" name="formT">
        <div>
            <h1>Edit Your Assignment</h1>

            <label for="name">Name</label> <br />
            <input type="text" name="name" value="@Model.assignment.FirstOrDefault().Name" required />


            <input type="hidden" name="assignmentID" value="@Model.assignment.FirstOrDefault().AssignmentID" />

            <input type="hidden" name="classID" value="@Model.cl.ClassID" />
            <br />


            <label for="description">Description</label><br />
            <textarea name="description" required>@Model.assignment.FirstOrDefault().Description</textarea><br />

            <label for="weight">Weight of Grade:</label> <br />
            <input type="number" name="weight" placeholder="0" value="@Model.assignment.FirstOrDefault().Weight" max="1000" min="0" required /><br />


            <br />
            <label for="startDate">Start Date</label><br />
            <input type="datetime-local" name="startDate" value="@Model.assignment.FirstOrDefault().StartDate.Value" required />

            <br />
            <label for="dueDate">Due Date</label><br />
            <input type="datetime-local" name="dueDate" value="@Model.assignment.FirstOrDefault().DueDate.Value" required min="@DateTime.Now.ToString("dd-mm-yyyyThh:mm:ss")" />

        </div>
        <div>
            <input type="submit" name="submit" value="Update Assignment" />
        </div>
    </form>
</div>

<script>
    function compareTime() {
        var x = document.forms["formT"]["dueDate"].value;
        var y = document.forms["formT"]["startDate"].value;

        if (new Date(x) <= new Date(y)){
            alert("The due date must be after the start date.");
        }
        return new Date(x) > new Date(y); // true if time1 is later

    }
</script>



