

@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "Index";
}


<h1>@Html.DisplayFor(Name => Model.cl.Name)</h1>

<h2>Teacher</h2>

<div>
    @Html.DisplayFor(Description => Model.cl.Description)
</div>


<a href="@Url.Action("Edit", "Teachers", new { ClassID = (Model.cl.ClassID) } )">
    Edit Class
</a>


<a href="@Url.Action("Delete", "Teachers", new { ClassID = (Model.cl.ClassID) })">
    Delete Class
</a>





<div>
    @for (int i = 0; i < Model.users.Count(); i++)
    {
        var user = Model.users[i];
        @Html.DisplayFor(Name => user.UserName)
        <a href="@Url.Action("Accept", "Teachers", new { ClassID = (Model.cl.ClassID), UserID = user.UsersID }, null)">
            Accept
        </a>
        <a href="@Url.Action("Reject", "Teachers", new { ClassID = (Model.cl.ClassID), UserID = user.UsersID }, null)">
            Reject
        </a>

    }
</div>