@model Oodle.Models.ViewModels.TeacherVM


@{
    ViewBag.Title = "ViewRoster";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

@section scripts
{
    <script type="text/javascript" src="~/Scripts/scriptone.js"></script>
}


    <div id="classListBody">


        <h2 style="text-align:center;">
            Class Rosters
        </h2>
        <hr />


        <h2 style="text-align:center;">
            @*@<!-- Look up name, to look up ID
                 Look up Class with User ID-->
            USER ID: @ViewBag.id <br />*@
            Classes Registered Under: @ViewBag.name;
            <br />
        </h2>
        

    </div>

<div>
    @foreach (var i in Model.classList)
    {

        <div class="slide-toggle text-center">
            <div class="container">
                <div class="box-toggle">
                    <div>
                        <div class="contorol">
                            @Html.DisplayFor(Name => i.Name)
                            <span class="toggle-info pull-left">
                                <i class="fa fa-plus"></i>
                            </span>
                            <br />
                            <h1>Students in class: @Model.users.Count();</h1>
                        </div>
                            
                        
                        <div class="content-box">
                        @for (int j = 0; j < Model.users.Count(); j++)
                        {
                            var user = Model.users[j];
                           
                                <h3> Name: @Model.users[j].UserName; </h3> <br />
                           
                           }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <br />
    }
</div>



