
@model Oodle.Models.ViewModels.TeacherVM
@{
    ViewBag.Title = "Grade";
}
<h2>Grades</h2>
<div class="slide-toggle2">
    <div>
        <br />
        <!-- fluid -->
        <div class="box-toggle">
            <form method="post" action="FakeGrade">

                @if (true)
                {
                    var formName = 0;

                    var i = Model.users.FirstOrDefault();
                    var test = Model.perUser[0];
                    <div class="contorol">
                        <span class="toggle-info pull-left">
                            <i class="fa fa-plus"></i>
                        </span>
                    </div>
                    <div class="content-box">
                        <div class="black">



                            @for (int i2 = 0; i2 < test.Grade.Count(); i2++)
                            {
                                if(test.Grade[i2] != null) {
                                    if (test.Grade[i2].Quizze != null)
                                    {
                                        var quiz = test.Grade[i2].Quizze;

                                        var quizName = quiz.QuizName;

                                        var sQuiz = Model.StudentQuizze.Where(o => o.QuizID == quiz.QuizID && o.UserID == i.UsersID).FirstOrDefault();

                                        if (sQuiz != null)
                                        {
                                            var classID = Model.cl.ClassID;
                                            var dueDate = quiz.EndTime;

                                            var grade = sQuiz.TotalPoints / quiz.TotalPoints;

                                            <div class="contorol padded">

                                                <div style="font-size:20px">@quiz.QuizName</div>
                                    
                                                <div class="upperRight">
                                                    Quiz
                                                </div>

                                                @if ((sQuiz.TotalPoints / quiz.TotalPoints) == -1)
                                                {
                                                    <div style="margin-right:10px">
                                                        Current Grade: @Html.Raw("Not yet graded")
                                                        <input type="number" name=@formName placeholder="0-100" value=0 required class="rightish" style="color:black"/><br />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div style="margin-right:10px">
                                                        Current Grade: @(grade * 100)%

                                                        <input type="number" name=@formName placeholder="0-100" value=@(grade * 100) required class="rightish" style="color:black" /><br />
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            
                                            <div class="contorol padded">

                                                <div style="font-size:20px">@quiz.QuizName</div>

                                                <div>
                                                    No submission.
                                                </div>



                                                <div class="upperRight">
                                                    Quiz
                                                </div>

                                               
                                                <div style="margin-right:10px">
                                                    Current Grade: @Html.Raw("Not yet graded")
                                                    <input type="number" name=@formName placeholder="0-100" value=0 required class="rightish" style="color:black" /><br />
                                                </div>
                                                
                                            </div>
                                        }
                                        <hr />


                                    }
                                    else
                                    {
                                        var assi = test.Grade[i2].Assignment;

                                        var assiName = assi.Name;

                                        var classID = Model.cl.ClassID;
                                        if (Model.documents.Where(o => o.UserID == i.UsersID && o.AssignmentID == assi.AssignmentID).FirstOrDefault() != null) {
                                            var doc = Model.documents.Where(o => o.UserID == i.UsersID && o.AssignmentID == assi.AssignmentID).FirstOrDefault();

                                            var assignmentID = doc.AssignmentID;
                                            var submittedDate = doc.Date;
                                            var dueDate = doc.Assignment.DueDate;

                                            <div class="contorol padded">

                                                <div style="font-size:20px">@assi.Name</div>

                                                   
                                                <div class="upperRight">
                                                    Assignment
                                                </div>



                                                @if ((doc.Grade) == -1)
                                                {
                                                    <div style="margin-right:10px">
                                                        Current Grade: @Html.Raw("Not yet graded")
                                                        <input type="number" name=@formName placeholder="0-100" value=0 required class="rightish" style="color:black" /><br />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div style="margin-right:10px">
                                                        Current Grade: @(doc.Grade)%

                                                        <input type="number" name=@formName placeholder="0-100" value=@(doc.Grade) required class="rightish" style="color:black" /><br />
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else { 
                                            <div class="contorol padded">

                                                <div style="font-size:20px">@assi.Name</div>
                                                <div>
                                                    No submission.
                                                </div>

                                                
                                                <div class="upperRight">
                                                    Assignment
                                                </div>

                                                <div style="margin-right:10px">
                                                    Current Grade: @Html.Raw("Not yet graded")
                                                    <input type="number" name=@formName placeholder="0-100" value=0 required class="rightish" style="color:black" /><br />
                                                </div>
                                            </div>
                                        }

                                        <hr />


                                    }


                                    //var doc = Model.documents[i2];
                                    formName++;

                                }
                            }
                            <div style="padding-left:10px">
                                Total Grade:
                                @(Model.classGrade[0])%
                            </div>
                            
                            <div style="padding-left:10px">
                                Theoretical Grade in Class: @Model.fakeTotal%
                            </div>
                            <br/>
                        </div>
                    </div>
                    <hr />
                    }

                    <input type="hidden" name="classID" value="@Model.cl.ClassID" />
                    <input type="submit" name="submit" value="Calculate Grade" />
            </form>
        </div>
    </div>
</div>
