@model Oodle.Models.ViewModels.StudentVM
<div class="col-sm-6">

    @using (Html.BeginForm("SaveHideNotifs", "Students"))
    {
    <ul>
        
        @for (int i = 0; i < Model.HideNotifs.Count; i++)
         {
        <li>
            @Html.HiddenFor(Model => Model.HideNotifs[i].ClassID)
            @Html.HiddenFor(Model => Model.HideNotifs[i].NotifID)
            @Html.EditorFor(Model => Model.HideNotifs[i].Hidden)
            @Html.ValidationMessageFor(Model => Model.HideNotifs[i].Hidden, "", new { @class = "text-danger" })
            @Html.DisplayFor(Model => Model.HideNotifs[i].Notification)
            @Html.LabelFor(Model => Model.HideNotifs[i].Hidden)
        </li>
         }
    </ul>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Notifications" class="btn btn-default" />
            </div>
        </div>
    }
</div>