<!DOCTYPE html>
<html>
<head>
    <!--Jquery-->
    <script src="jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Ubuntu" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oodle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top navbar-expand-xl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Landing", "Home")'>
                    <img src="~/Content/img/logo.png" class="img-center" height="45" width="90" />
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Landing", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>

       

                        <div class="dropDownDiv">

                            <span>@Html.ActionLink("Class Menu", "List", "Class", new { ClassID = Model.cl.ClassID }, new { @class = "dropDownButton" })</span>
                            <span class="dropDownArrowRight">&#9654;</span> <span class="dropDownArrowDown">&#9661;</span>

                            <div class="dropDown-content">
                                @Html.ActionLink("Home", "Index", "Teachers", new { ClassID = Model.cl.ClassID }, null)
                                @Html.ActionLink("Assignments", "Assignment", "Teachers", new { ClassID = Model.cl.ClassID }, null)
                                @Html.ActionLink("Grades", "GradeList", "Teachers", new { ClassID = Model.cl.ClassID }, null)
                                @Html.ActionLink("Roster", "ViewRoster", "Teachers", new { ClassID = Model.cl.ClassID }, null)
                                @Html.ActionLink("Tasks", "Tasks", "Teachers", new { ClassID = Model.cl.ClassID }, null)

                                @Html.ActionLink("Quizzes", "QuizList", "Teachers", new { ClassID = Model.cl.ClassID }, null)
                            </div>
                        </div>
                    </li>
                    <li>@Html.ActionLink("Tools", "Tools", "Home")</li>
                    <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
                    <li><a href="https://oodle-dev.slack.com/" target="_blank">Slack</a></li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <!--, new { ClassID = (Model.cl.ClassID) }-->
    <div class="container body-content body-content">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - Oodle Incorporated</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
